<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjl.zxinglibrary">

    <uses-permission android:name="android.permission.VIBRATE" />


    <application>
        <activity android:name=".ui.CodeInputActivity"
            android:theme="@style/ScanAppTheme"></activity>
        <activity
            android:name=".ui.ScanActivity"
            android:theme="@style/ScanAppTheme"
            android:windowSoftInputMode="adjustPan" />
    </application>


</manifest>